
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-gmap #gmap [style]="{'width':'100%','height':'320px', 'margin-bottom': '1em'}" [options]="options" [overlays]="overlays"
       (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>

<button type="button" pButton label="Clear" icon="pi pi-times" (click)="clear()" style="margin-right:.25em">Clear</button> &nbsp;
<button type="button" pButton label="Add Marker" icon="fa-plus" (click)="addMarker()">Add Marker</button> &nbsp;
<button type="button" pButton label="Add Marker" icon="fa-plus" (click)="calculate()">Calculate</button>
<button type="button" pButton label="Add Marker" icon="fa-plus" (click)="toFinish()" style="float: right;">Finish</button>
<hr>

<div class="ui-g ui-fluid col-12">
    <div class="ui-g ui-fluid col-3" *ngIf="selectedPosition"><br>
        <b><h3><i>Origin</i></h3></b>
        <div class="ui-g-2"><label for="lat">Lat: {{objOrigin.lat}}</label> </div>
        <div class="ui-g-2"><label for="lng">Lng: {{objOrigin.lon}}</label></div>
        <div class="ui-g-2"><label for="inf">Informations: {{responseOrigin}}</label></div>   
    </div>

    <div class="ui-g ui-fluid col-3" *ngIf="selectedPosition"><br>
        <b><h3><i>Destinate</i></h3></b>
        <div class="ui-g-2"><label for="lat">Lat: {{objDestination.lat}}</label> </div>
        <div class="ui-g-2"><label for="lng">Lng: {{objDestination.lon}}</label></div>
        <div class="ui-g-2"><label for="inf">Informations: {{responseDestination}}</label></div>
    </div>
</div>    









