<!--The content below is only a placeholder and can be replaced.-->
<!-- <link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<div style="text-align:center; background-color: lightgray">

  <span style="font-family:Tangerine; font-size: 9em; float: left; margin-bottom: 05px;">
    Weather Forecast...
  </span>
  <br>
  <app-menu></app-menu>

</div>

<router-outlet></router-outlet>
